:root {
    --color-primary: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --color-gray: hsl(0, 0%, 50%);
    --color-black: hsl(0, 0%, 7%);
}

html {
    font-size: 1rem;
}

@media screen and (max-width: 450px) {
    html {
        font-size: 0.75rem;
    }
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Figtree', sans-serif;
    background-color: var(--color-primary);
    color: var(--color-black);
}

a {
    color: var(--color-black);
    text-decoration: none;
}

a:hover, a:active {
    color: var(--color-primary);
}

h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

header {
    font-size: .85rem;
    font-weight: 600;
}

.badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    width: 100%;
}

.badge {
    border-radius: .25rem;
    font-weight: 800;
    padding: .4rem .8rem;
}

.bg-primary {
    background-color: var(--color-primary);
    color: var(--color-black);
}

.card {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 1.5rem;
    box-shadow: .5rem .5rem var(--color-black);
    padding: 1.5rem;
    width: 21rem;
}

.card-image {
    width: 21rem;
    border-radius: .5rem;
    vertical-align: top;
    margin-bottom: 1.5rem;
}

.description {
    color: var(--color-gray);
    line-height: 1.5em;
}

.footer {
    margin-top: 1.5rem;
    font-size: .9rem;
    font-weight: 800;
}

.footer > * {
    vertical-align: middle;
}

.footer > *:not(:first-child) {
    margin-left: .5rem;
}

.footer img {
    height: 2rem;
}