:root {
    --color-primary: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --color-gray: hsl(0, 0%, 50%);
    --color-black: hsl(0, 0%, 7%);
}

html {
    font-size: 16px;
}

body {
    background-color: var(--color-primary);
    color: var(--color-black);
    font-family: 'Figtree', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    width: 100%;
}

.badge {
    border-radius: .25rem;
    font-weight: 800;
    padding: .25rem .5rem;
}

.bg-primary {
    background-color: var(--color-primary);
    color: var(--color-black);
}

.card {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 16px;
    box-shadow: 8px 8px var(--color-black);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 16px;
    width: 288px;
}

.card-header {
    font-size: .75rem;
    font-weight: 600;
}

.card-image {
    width: 288px;
    border-radius: 8px;
    vertical-align: top;
}

.description {
    color: var(--color-gray);
    font-size: .85rem;
    line-height: 1.4em;
}

.footer {
    font-size: .8rem;
    font-weight: 800;
}

.footer > * {
    vertical-align: middle;
}

.footer > *:not(:first-child) {
    margin-left: .5rem;
}

.footer img {
    height: 1.67rem;
}

.title {
    font-size: 1.3rem;
    font-weight: 800;
}